@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_Imports.cshtml";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SellFlowWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Tela Inicial</a>
                    </li>
                    @if (Context.Request.HttpContext.Session.GetInt32("idpermissao").HasValue && Context.Request.HttpContext.Session.GetInt32("idpermissao").Value != 2)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Anuncios", "Index", "Anuncio", new { usuario = Context.Request.HttpContext.Session.GetInt32("idusuario").Value }, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Produtos", "Index", "Produto", new { usuario = Context.Request.HttpContext.Session.GetInt32("idusuario").Value }, new { @class = "nav-link text-dark" })
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Categoria" asp-action="Index">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Pagina" asp-action="Index">Paginas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Permissao" asp-action="Index">Permissões</a>
                    </li>
                    }
                </ul>
                @if (Context.Request.HttpContext.Session.GetInt32("idpermissao").HasValue && Context.Request.HttpContext.Session.GetInt32("idpermissao").Value == 2)
                {
                    <a asp-action="Index" asp-controller="Login" class="btn btn-outline-light nav-link"><i class="bi bi-box-arrow-in-right mx-1"></i>Realizar Login</a>
                }
                else
                {
                    <a asp-action="Perfil" asp-controller="Usuario" class="btn btn-outline-light nav-link"><i class="bi bi-person"></i> @HttpContextAccessor.HttpContext.Session.GetString("email")</a>
                    <a asp-action="Logout" asp-controller="Login" class="btn btn-outline-secondary"><i class="bi bi-box-arrow-left"></i> Sair</a>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@section MainScripts{ 

    @await RenderSectionAsync("Scripts", required: false)
}
