@model Models.ErrorViewModel
@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Views/Shared/_Imports.cshtml";
}

<h1 class="text-danger">SellFlow.</h1>
<h2 class="text-danger">Acesso Negado</h2>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-light nav-link"><i class="bi bi-box-home mx-1"></i>Voltar Tela Incial</a>
<a asp-action="Index" asp-controller="Login" class="btn btn-outline-info nav-link"><i class="bi bi-box-arrow-in-right mx-1"></i>Realizar Login</a>


