@model Models.ErrorViewModel
@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Views/Shared/_Imports.cshtml";
}

<header class="m-3">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-2">
                <h1>SellFlow</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <h2 class="text-danger">Acesso Negado</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center">
                <p class="text-danger mb-1">Você não possui permissões suficientes para acessar essa página.</p>
                <p class="text-danger">Volte a tela inicial ou realize o login com outras credenciais.</p>
            </div>
        </div>
    </div>
</header>
<div class="container my-5">

    <div class="row row-cols-auto justify-content-center">
        <div class="col">
            <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-primary">Voltar Tela Incial</a>
        </div>

        <div class="col">
            <a asp-action="Index" asp-controller="Login" class="btn btn-lg btn-outline-info"><i class="bi bi-box-arrow-in-right mx-1"></i>Realizar Login</a>
        </div>

    </div>
</div>


