@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model IEnumerable<SellFlowWeb.Models.DataView.AnuncioDataView>

@{
    ViewData["Title"] = "Tela Inicial";
}

<div class="row text-center m-2">
    <h3>Bem Vindo @HttpContextAccessor.HttpContext.Session.GetString("nome") @HttpContextAccessor.HttpContext.Session.GetString("sobrenome")</h3>
</div>

<div class="row m-2">
    <div class="form-floating">
        <input type="text" id="search" value="" class="form-control" />
        <label for="search">Busca</label>
        <span class="spinner"></span>
        <span class="spinner"></span>
        <span class="spinner"></span>
    </div>
</div>

@if (Model.Any())
{
    <div class="m-5">
        <div class="row">
            <h3>Anuncios</h3>
        </div>
        <hr/>
        
        <div class="row row-cols-1 row-cols-md-3 g-4" id="anunciosGrid">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_AnuncioCard", item)
            }
        </div>
    </div>
}

@section Scripts{

    <script src="~/js/Home/HomeMain.js"></script>
    <script>

        $(document).ready(() => {
            $("#search").focus();
        })
        $("#search").on('keyup', async () => {
            await Search($("#search").val());
        });

    </script>    

}