@model SellFlowWeb.Models.DataView.PermissaoDataView
@{
    ViewData["Title"] = "Permissao";
}

<form asp-action="Salvar" id="Salvar">

    <div class="row">
        <input asp-for="id" hidden class="visually-hidden">
        <input asp-for="ativo" hidden class="visually-hidden">

        <div class="mb-3">
            <label asp-for="nome" class="control-label"></label>
            <input asp-for="nome" class="form-control" onblur="ValidarCampo(this,'Informe o nome da permissão.')" />
        </div>

    </div>

    <div class="row">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Label</label>
        </div>
    </div>

    <div class="row row-cols-auto">

        <span>@ViewBag.message</span>
        <div class="col">
            <button type="button" id="btnsalvar" class="btn btn-primary" onclick="Submit('Salvar')">Salvar</button>
        </div>

        <div class="col">
            <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        </div>

    </div>
</form>

@section Scripts{
    <script src="~/js/Comun/main.js"></script>
}