@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model SellFlowWeb.Models.DataView.AnuncioDataView

@{
    ViewData["Title"] = "Anuncio";
}

<form asp-action="Salvar" id="Salvar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="id" hidden class="visually-hidden" value="0">
    <input asp-for="ativo" hidden class="visually-hidden" value="true">
    <input asp-for="anuncioSituacaoObj.id" hidden class="visually-hidden" value="1">

    <div class="row">
        <div class="mb-3">
            <label asp-for="nome" class="form-label"></label>
            <input type="text" class="form-control" asp-for="nome" aria-describedby="NomeProduto" onblur="ValidarCampo(this,'Informe o nome do anuncio.')">
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição do Produto</label>
            <textarea type="text" class="form-control" asp-for="descricao" onblur="ValidarCampo(this, 'Informe a descrição do anuncio.')"></textarea>
        </div>

        <div class="mb-3">
            <label for="produto_id" class="form-label">Produto</label>
            <select class="form-select" aria-label="CategoriaProduto" asp-for="produtoObj.id" onclick="ValidarCampo(this, 'Selecione o produto do anuncio.')" onblur="ValidarCampo(this, 'Selecione o produto do anuncio.')">
                <option selected>Selecione um produto.</option>
                @if (ViewBag.produtos.Count > 0)
                {
                    foreach (var item in ViewBag.produtos)
                    {
                        <option value="@item.id">@item.nome - R$@item.valorDecimal</option>
                    }
                }
            </select>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><b>R$</b></span>
            <input type="text" class="form-control" asp-for="valorDecimal" aria-describedby="valorDecimal" onblur="ValidarCampo(this,'Informe o valor do anuncio.')">
        </div>

        <div class="mb-3">
            <label asp-for="qtdeDisponivel" class="form-label"></label>
            <input type="text" class="form-control" asp-for="qtdeDisponivel" onblur="ValidarCampo(this,'Informe a quantidade disponível.')">
        </div>

        <div class="mb-3">
            <label asp-for="dataEncerramento" class="form-label"></label>
            <input type="date" class="form-control" asp-for="dataEncerramento" aria-describedby="NomeProduto" onblur="ValidarCampo(this,'Informe a data de encerrameto do anuncio.')">
        </div>

    </div>
    <div class="row row-cols-auto m-2">
        <span id="tempmessage">@ViewBag.message</span>
    </div>
    <div class="row row-cols-auto m-2">

        <div class="col">
            <button type="button" id="btnsalvar" class="btn btn-primary" onclick="Submit('Salvar')">Salvar</button>
        </div>


        <div class="col">
            @Html.ActionLink("Voltar", "Index", "Anuncio", new { usuario = Context.Request.HttpContext.Session.GetInt32("idusuario").Value }, new { @class = "btn btn-secondary" })
        </div>

    </div>

</form>

@section Scripts{
    <script src="~/js/Comun/main.js"></script>
    <script src="~/js/jquery.maskedinput.js"></script>
    <script>

        $(document).ready(async () => {
            $('#valorDecimal').mask('###.###.##0,00', { reverse: true });
        });

    </script>
}
