@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model Models.ProdutoModel

@{
    ViewData["Title"] = "Produto";
}

<form asp-action="Salvar">

    <input asp-for="id" hidden class="visually-hidden" value="0">
    <input asp-for="ativo" hidden class="visually-hidden" value="true">
    <input asp-for="imagemdestaque" hidden class="visually-hidden" value="">
    <input asp-for="usuariovendedor" hidden class="visually-hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("idusuario").Value">

    <div class="row">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome Produto</label>
            <input type="text" class="form-control" asp-for="nome" aria-describedby="NomeProduto">
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição do Produto</label>
            <textarea type="text" class="form-control" asp-for="descricao"></textarea>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" aria-label="CategoriaProduto" asp-for="categoria">
                <option selected>Selecione uma Categoria.</option>
            </select>
        </div>

    </div>

    <div class="row row-cols-auto">

        <span>@ViewBag.message</span>
        <div class="col">
            <button type="submit" id="btnsalvar" class="btn btn-primary">Salvar</button>
        </div>

        <div class="col">
            <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        </div>

    </div>

</form>

@section Scripts{
    <script src="~/js/Produto/ProdutoMain.js"></script>
    <script>

        $(document).ready(async () => {
            await preencherCategoria();

        });

        async function preencherCategoria () {
            await GetListCategoria().then(response => {
                console.log('response', response);
                response.forEach((item, y) => {
                    console.log(`categoria-item ${y + 1}`, item);
                    let option = $("<option>", { value: item.id, text: item.nome });
                    $("#categoria").append(option);
                });
            }).catch(e => {
                console.log('error', e);
            });
        };

    </script>
}
