@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model SellFlowWeb.Models.DataView.ProdutoDataView
@{
    ViewData["Title"] = "Produto";
}

<form asp-action="Salvar">

    <div class="row">
        <input asp-for="id" hidden class="visually-hidden">
        <input asp-for="ativo" hidden class="visually-hidden">
        <input asp-for="imagemdestaque" hidden class="visually-hidden">
        <input asp-for="usuariovendedorObj.id" hidden class="visually-hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("idusuario").Value">

        <div class="mb-3">
            <label asp-for="nome" class="control-label"></label>
            <input asp-for="nome" class="form-control" onblur="ValidarCampo(this,'Informe o nome do produto.')"/>
        </div>


        <div class="mb-3">
            <label asp-for="descricao" class="form-label"></label>
            <textarea type="text" class="form-control" asp-for="descricao" onblur="ValidarCampo(this, 'Informe a descrição do produto.')"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for="categoriaObj" class="form-label"></label>
            <select class="form-select" aria-label="CategoriaProduto" asp-for="categoriaObj.id" onclick="ValidarCampo(this, 'Selecione uma categoria para o produto.')" onblur="ValidarCampo(this, 'Selecione uma categoria para o produto.')">
                <option selected>Selecione uma Categoria.</option>
            </select>
        </div>

    </div>

    <div class="row row-cols-auto">

        <span>@ViewBag.message</span>
        <div class="col">
            <button type="button" id="btnsalvar" class="btn btn-primary" onclick="Submit('Salvar')">Salvar</button>
        </div>

        <div class="col">
            <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        </div>

    </div>

</form>

@section Scripts{
    <script src="~/js/Produto/ProdutoMain.js"></script>
    <script>
        const produtoModel = @Html.Raw(Json.Serialize(Model));

        $(document).ready(async () => {
            await preencherCategoria();

           console.log('produtoModel',produtoModel);

        });



        async function preencherCategoria () {
            await GetListCategoria().then(response => {
                response.forEach((item, y) => {
                    let option = $("<option>", { value: item.id, text: item.nome });
                    $("#categoriaObj_id").append(option);
                    $('#categoriaObj_id').val(@Model.categoriaObj.id)
                });
            }).catch(e => {
                console.log('error', e);
            });
        }
    </script>
}