@model Models.ProdutoModel
@{
    ViewData["Title"] = "Produto";
}

<div class="row justify-content-end">
    <div class="col-1 m-2">
        <a asp-action="Criar" class="btn btn-primary">Novo</a>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-hover" id="tbprodutos">
        <thead>
            <tr id="tbheader">
            </tr>
        </thead>
        <tbody id="tbdata">
        </tbody>
    </table>
    <div class="d-flex justify-content-center m-5">
        <h5 id="message"></h5>
        <h6 id="tempmessage">@TempData["message"]</h6>
    </div>
    <div class="d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status" id="load">
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Voltar</a>
    </div>
</div>

@section Scripts {
<script src="~/js/Produto/ProdutoMain.js"></script>
<script>

        $(document).ready(async () => {
            CarregarProdutos();
        })

        async function CarregarProdutos() {

            await GetListProduto().then(response => {

                if (response.length > 0) {
                    GeraTabela(response, 'tbheader', 'tbdata', true, true);
                }
                else {
                    GeraTabelaVazia();
                }

                $('#load').css('display', 'none');

            }).catch(e => {
                $("#message").text("Não foi possivel obter a lista de produtos.");
                $(".spinner-grow").css('display', 'none')
                GeraTabelaVazia();
                console.log('error', e);
            });

        }

        function GeraTabelaVazia() {
            const produtoProps = [@Html.Raw(Json.Serialize(Model))]
            GeraTabela(produtoProps, 'tbheader');
        }

</script>
}