@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table table-striped table-hover" id="tbprodutos">
    <thead>
        <tr id="tbheader">
        </tr>
    </thead>
    <tbody id="tbdata">
    </tbody>
</table>

@section Scripts{
    <script src="~/js/Produto/ProdutoMain.js"></script>
    <script>

        $(document).ready(async () => {
            await GetListProduto().then(response => {
                console.log('response', response);

                GeraTabela(response, 'tbheader', 'tbdata');

            }).catch(e => {
                console.log('error', e);
            });
        })

    </script>
}